<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informaci贸n</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="jumbotron">
        <h1>Informaci贸n</h1>
        <h2>Argumentos de entrada:</h2>
            <p>{{argumentos}}</p>
        <h2>Nombre de la plataforma (sistema operativo):</h2>
            <p>{{plataforma}}</p>
        <h2>Versi贸n de Node.js:</h2>
            <p>{{versionNode}}</p>
        <h2>Memoria total reservada:</h2>
            <p>{{memoria}}</p>
        <h2>Path de ejecuci贸n:</h2>
            <p>{{path}}</p>
        <h2>Process id:</h2>
            <p>{{proceso}}</p>
        <h2>Carpeta del proyecto:</h2>
            <p>{{directorio}}</p>
    </div>
</body>
</html>